# Configuración de base de datos
DB_HOST=localhost
DB_PORT=3306
DB_NAME=purchases_calculator_development_db
DB_USER=nombre_de_usuario
DB_PASSWORD=password_de_usuario

# Claves de JSON WEB TOKEN
JWT_SECRET_KEY=clave_secreta_de_JWT
# Clave secreta de cookie-parser
COOKIE_SECRET_KEY=clave_secreta_de_cookie_parser

# Configuración del servidor
PORT=3001
NODE_ENV=development