# VARIABLES DE shopping-server
# Configuración de base de datos
DB_HOST=shopping-db
DB_PORT=3306
DB_NAME=purchases_calculator_dev_db
DB_USER=root
DB_PASSWORD=password_de_usuario

# Claves de JSON WEB TOKEN
JWT_SECRET_KEY=clave_secreta_de_JWT
# Clave secreta de cookie-parser
COOKIE_SECRET_KEY=clave-secreta-de-cookie_parser

# Configuración del servidor
PORT=3001
NODE_ENV=development
PUBLIC_DOMAIN_CLIENT=localhost:3000

# VARIABLES DE shopping-client
# Url de acceso a rutas de API
REACT_APP_API_URL=localhost:3001