.App {
  background-color: #fff3b0;
  height: 100vh;
  width: 100vw;
  position: relative;
}

/* Header */
.App-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
}
.App-header i {
  font-size: 20px;
}

/* Main */
main {
  padding: 16px;
}

.title-description {
  padding-bottom: 16px;
  text-align: center;
}

.functional-app {
  font-size: 16px;
  font-weight: bolder;
  background-color: #fffefa;
  border-radius: 25px;
  padding: 20px;
}

.discount,
.final-price {
  padding-top: 10px;
}

.result-icons {
  margin-right: 5px;
}

.number-discount {
  text-decoration: line-through;
}