.App {
  background-color: #fff3b0;
  height: 100vh;
  width: 100vw;
  position: relative;
}

/* Header */
.App-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
}
.App-header .cart-sidebar-button {
  position: relative;
  z-index: 0;
}
.App-header .quantity-products-cart {
  position: absolute;
  bottom: -10px;
  left: 10px;
  background-color: #ff746c;
  color: #fffefa;
  padding: 2px;
  border: 1px solid #fffefa;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.App-header i {
  font-size: 20px;
}

/* Main */
main {
  padding: 16px;
}

.title-description {
  padding-bottom: 16px;
  text-align: center;
}

.functional-app {
  font-size: 16px;
  font-weight: bolder;
  background-color: #fffefa;
  border-radius: 25px;
  padding: 20px;
}

.discount,
.final-price {
  padding-top: 10px;
}

.result-icons {
  margin-right: 5px;
}

.number-discount {
  text-decoration: line-through;
}
