.App {
  background-color: #fff3b0;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Toast */
.toast {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fffefa;
  color: #77dd77;
  padding: 5px 9px;
  border-radius: 12px;
  border: 1px solid #77dd77;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  pointer-events: none;
  z-index: 1001;
  opacity: 0;
  display: none;
}
.toast .fa-cart-shopping,
.toast .fa-circle-check {
  color: #77dd77;
  font-size: 14px;
}
@keyframes toast-in-out {
  15%,
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.toast.show {
  animation: toast-in-out 3s ease-in-out forwards;
  display: block;
}

/* Overlay */
.overlay-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background: rgba(255, 255, 255, 0.95);
  padding: 24px;
  border-radius: 16px;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1001;
  opacity: 0;
  transition:
    transform 0.4s ease-out,
    opacity 0.4s ease-out;
}
@keyframes overlay-in-out {
  20%,
  80% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.overlay-feedback.show {
  display: flex;
  animation: overlay-in-out 2s ease-in-out forwards;
}

.overlay-feedback .icon {
  font-size: 48px;
  color: #444444;
  margin-bottom: 8px;
}
.overlay-feedback .text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  color: #444444;
}

/* Main */
main {
  padding: 16px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.title-description {
  padding-bottom: 16px;
  text-align: center;
}

/* Calculadora de descuentos */
.functional-app {
  font-size: 16px;
  font-weight: bolder;
  background-color: #fffefa;
  border-radius: 25px;
  padding: 20px;
}

.discount,
.final-price {
  padding-top: 10px;
}

.result-icons {
  margin-right: 5px;
}

.number-discount {
  text-decoration: line-through;
}
