/* Header */
.App-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}
.App-header .cart-sidebar-button {
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.App-header .quantity-products-cart {
  position: absolute;
  bottom: -10px;
  left: 10px;
  background-color: #ff746c;
  color: #fffefa;
  padding: 2px;
  border: 1px solid #fffefa;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.App-header .fa-cart-shopping {
  font-size: 20px;
}
.App-header .login-user-icon {
  font-size: 23px;
}
.App-header .user-button {
  position: relative;
  width: 135px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}
.App-header .user-button span {
  cursor: pointer;
}
.App-header .user-menu {
  position: absolute;
  padding: 5px;
  padding-right: 0;
  bottom: -92px;
  background-color: #fff3b0;
  border-radius: 12px 0 0 12px;
}
.App-header .user-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.App-header .user-button .user-menu a, .App-header .user-button .user-menu li {
  cursor: pointer;
  width: 100%;
  text-align: end;
}
