* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #444444;
}

label {
  display: block;
}

input,
button {
  height: 48px;
  border: 1px, solid, transparent;
  border-radius: 12px;
  padding: 5px;
  font-size: 20px;
  font-weight: bolder;
  width: 100%;
}

button {
  margin-top: 16px;
  background-color: #ffd365;
}

.text-center {
  text-align: center;
}

.red-button {
  background-color: #ff746c;
  color: #fffefa;
}

.green-button {
  background-color: #77dd77;
  color: #fffefa;
}

.err-message {
  color: #ff746c;
  margin-top: 2px;
  margin-bottom: 5px;
}
.isValid {
  border-color: #77dd77;
}
.isInvalid {
  border-color: #ff746c;
}