.modal-background {
  position: fixed;
  padding: 15px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(44, 44, 44, 0.5);;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-content {
    font-weight: bolder;
    background-color: #FFFEFA;
    border-radius: 25px;   
    padding: 20px;
}
