.modal-background {
  position: fixed;
  padding: 15px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(44, 44, 44, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: 2;
}

.modal-content {
  font-weight: bolder;
  background-color: #fffefa;
  border-radius: 25px;
  padding: 20px;
}

/* Estilos de modal LoginRegisterUser */


.login-register-user-container .btn-container {
  display: flex;
  justify-content: space-between;
  background-color: #fffefa;
  
}
.login-register-user-container .btn-container .btn {
  padding: 10px 13px;
  text-align: center;
  align-content: center;
  width: 100%;
  border-radius: 20px 0 0 0;
}
.login-register-user-container .btn-container .btn-r {
border-radius: 20px 0 0 0;
background-color: #fff3b0;
}
.login-register-user-container .btn-container .btn-l {
border-radius: 0 20px 0 0;
}

.login-register-form-container {
  background-color: #fff3b0;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}
