.modal-background {
  position: fixed;
  padding: 15px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(44, 44, 44, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: 2;
}

.modal-content {
  font-weight: bolder;
  background-color: #fffefa;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  max-height: 100%;
}
.modal-content .close-modal {
  position: absolute;
  padding: 6px;
  right: 0px;
  top: -1px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content .close-modal i {
  font-size: 20px;
}

/* Estilos de modal LoginRegisterUser */
.login-register-user-container {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.login-register-user-container .btn-container {
  display: flex;
  justify-content: space-between;
  background-color: #fffefa;
}
.login-register-user-container .btn-container .btn {
  padding: 10px 13px;
  text-align: center;
  align-content: center;
  width: 100%;
  border-radius: 20px 0 0 0;
}
.login-register-user-container .btn-container .btn-r {
  border-radius: 15px 0 0 0;
  background-color: #fff3b0;
}
.login-register-user-container .btn-container .btn-l {
  border-radius: 0 15px 0 0;
}

.login-register-form-container {
  background-color: #fff3b0;
  padding: 10px;
  border-radius: 0 0 15px 15px;
  overflow: auto;
  max-height: 72vh;

  display: flex;
  flex-direction: column;
  max-height: 100%;
}

/* Estilos para campos de contraseña en login y register */
.login-register-form-container .field-password {
  position: relative;
}
.login-register-form-container .field-password i {
  position: absolute;
  top: 32px;
  right: 6px;
  font-size: 20px;
}

/* Estilos de modal TicketDetail */
.ticket-detail {
  padding: 5px;
  border: 1px solid #444444;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
.ticket-detail header {
  text-align: center;
}
.ticket-detail .product-list {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: 100%;
}
.ticket-detail .product-list .product-item {
  background-color: #fff3b0;
  padding: 6px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.ticket-detail .product-list .product-item .item-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.ticket-detail .product-list .product-item .name-final-price-item {
  font-size: 20px;
}

.ticket-detail .totals-section {
  padding: 5px;
  border-top: 1px solid #444444;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ticket-detail .totals-section .total-row {
  display: flex;
  justify-content: space-between;
}
.ticket-detail .totals-section .total-price {
  font-size: 20px;
}
